<% layout('layout/boilerplate') -%>
<h1 class="text-center heading mb-3 display-4">All Campgrounds</h1>
<div id="cluster-map"></div>
    <div class="d-grid col-md-3 mx-auto">
        <a class="btn btn-primary mt-3 mb-3 text-white btn-lg custom-btn-size" role="button" href="/campgrounds/new">Add Campground</a>
    </div>
    <% for(const campground of campgrounds) {%>
        <div class="card mb-3 card-index">
            <div class="row">
                <div class="col-md-4 col-12">
                    <% if(campground.images.length) { %>
                    <img src="<%= campground.images[0].url %>" alt="" class="img-fluid card-img" crossorigin="anonymous">
                    <% } else { %>
                        <img src="https://res.cloudinary.com/dvwri8zij/image/upload/v1732384140/YelpCamp/c1oahqdvtlk9gi4ewq47.avif" alt="" class="img-fluid card-img" crossorigin="anonymous">
                        <% } %>
                </div>
                <div class="col-md-8 col-12">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><span><%= campground.description %></span></p>
                        <p class="card-text location-text">
                            <medium class="text-muted"><%= campground.location %></medium>
                        </p>
                        <a href=<%= `/campgrounds/${campground._id}` %> class="btn btn-primary"><%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
       <% } %>

       <script>
    const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgroundFeatures = <%- JSON.stringify(campgrounds.map(campground => ({
        type: 'Feature',
        geometry: campground.geometry,
        properties: {
            ...campground,
            popUpMarkUp: `
                <strong><a href="/campgrounds/${campground._id}" style="font-size: 15px;">${campground.title}</a></strong>
                <p style="font-size: 15px;margin-top: 5px;">${campground.description ? campground.description.substring(0, 20) + "..." : ''}</p>
            `
        }
    }))) %>;
    const allCampgrounds = {
        type: 'FeatureCollection',
        features: campgroundFeatures
    };
</script> 

<script src="/javascripts/clusterMap.js"></script>
 
